argcomplete==3.5.0
dv_processing==1.7.9
easygui==0.98.3
engineering_notation==0.10.0
gooey==1.0.8.1
h5py==3.8.0
keras==2.12.0
matplotlib==3.7.1
numba==0.60.0
numpy==1.22.3
opencv_python==4.7.0.72
openxc==2.2.0
pandas==2.0.1
Pillow==10.4.0
plyer==2.1.0
scipy==1.8.1
screeninfo==0.8.1
setuptools==65.6.3
skimage==0.0
tables==3.8.0
tensorflow==2.12.0
torch==2.4.0
torchvision==0.19.0
tqdm==4.66.5
